.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* 讓圖片置中 */
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .video-container video {
    display: block;
    width: 100%;
    height: auto;
  }
  
